* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0 auto;
}
button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  max-width: 430px;
  margin: auto;
}
.header,
.main,
.footer {
  padding: 0 24px 24px 24px;
}
/*  */
.no-scroll {
  overflow: hidden;
}

.mobile-nav {
  position: absolute;
  top: -150%;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px 15px 0px 15px;
  background: #45927fe5;
  transition: all 0.2s ease-in;
  font-size: 16px;
}
.nav-icon-cancel {
  display: none;
}
.nav-icon {
  display: none;
}
.nav-active {
  display: block;
}
.nav {
  font-size: 18px;
}
.nav__list {
  display: flex;
  column-gap: 30px;
}

.mobile-nav--open {
  top: 80px;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  row-gap: 20px;
  font-size: 16px;
}
.mobile-nav__list a {
  color: white;
}
@media (min-width: 768px) {
  .mobile-nav__list {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}
/*  */
.header__menu {
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-main {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__logo span {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}
.header__burger-menu {
  border: none;
  background-color: inherit;
}
.header__nav {
  display: none;
}
.header__nav .active {
  color: rgba(255, 125, 52, 1);
}
.header__nav a {
  color: rgba(117, 118, 127, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}
.header__nav li {
  list-style-type: none;
}
.header__description_title {
  padding: 0px 0px 40px 0px;
}
.header__button {
  display: none;
  background-color: rgba(253, 240, 234, 1);
  color: rgba(255, 125, 52, 1);
  padding: 0px 56px 0px 56px;
  height: 60px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  align-items: center;
  justify-content: center;
}
.header__stonks {
  grid-area: stonks;
}
.main__indian-league_phone {
  grid-area: indian-phone;
}
.header__stonks img,
.main__indian-league_phone img,
.main__betting-app_phone img,
.main__how-download_item_img img {
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header__description {
  grid-area: description;
}
.header__description_title h1 {
  margin: 0;
  padding: 0px 24px 0px 0px;
  width: 382px;
  font-weight: 700;
  font-size: 52px;
  line-height: 67.6px;
  color: rgba(25, 27, 35, 1);
}
.header__subscribers {
  grid-area: subscribers;
  width: 100%;
  align-items: center;
}
.header__description_text-betting p,
.header__subscribers_text p,
.main__indian-league_content_text p,
.main__betting-app_content_text p,
.main__bonus_text p,
.main__bonuses_text p,
.main__reasons_text p,
.main__reviewer_text p,
.main__how-download_main-text p,
.main__how-download_text p,
.main__mobile-app_text p,
.main__how-use_text p,
.main__faq_text p {
  font-family: 'Inter', sans-serif;
  color: rgba(117, 118, 127, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  margin: 0;
}
.main__indian-league_content_text p {
  padding: 0px 0px 48px 0px;
}
.main__betting-app_content_text,
.main__how-download_main-text {
  padding: 0px 0px 32px 0px;
}

.main__reasons_text,
.main__how-use_text,
.main__faq_text {
  display: none;
  padding: 24px 0 0 0;
}
.main__reasons_text-active,
.main__how-use_text-active,
.main__faq_text-active {
  display: block;
}
.header__description_button {
  padding: 40px 0px 0px 0px;
}
.header__description_button a,
.main_live-betting_button a,
.main__reasons_button a,
.main__mobile-app_button,
.main__how-use_button a,
.main__how-download_button a {
  width: 100%;
  font-size: 18px;
  color: rgba(252, 253, 254, 1);
  background-color: rgba(255, 125, 52, 1);
  border-radius: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main__content-table_title-main {
  padding: 0px 0px 24px 0px;
}

.main__content-table_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
}
.main__live-betting_content {
  min-width: 366px;
}
.main__live-betting_content_title,
.main__live-betting_content_team-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: rgba(25, 27, 35, 1);
}
.main__content-table_subtitle,
.main__live-betting_content_date,
.main__live-betting_content_team-score {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(117, 118, 127, 1);
}
.main__content-table_variable {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 24px;
  width: 100%;
}
.main__content-table_variable :last-child,
.main__content-table_variable :first-child {
  display: flex;
  gap: 14px;
}
.main__content-table_variable a {
  white-space: nowrap;
  width: 100%;
  background-color: rgba(243, 244, 245, 1);
  height: 60px;
  padding: 0px 44px 0px 44px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__indian-league {
  background-color: rgba(243, 244, 245, 1);
  border-radius: 32px;
  padding: 48px 24px 48px 24px;
}

.main__indian-league_content_title h2,
.main__betting-app_content_title h2,
.main__live-betting_title h2,
.main__reasons_main-title h2,
.main__reviews_title h2,
.main__download_title h2,
.main__bonus_title h2,
.main__information_title h2,
.main__how-download_main-title h2,
.main__faq_main-title h2,
.main__how-use_main-title h2 {
  /* width: 334px; */
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  color: rgba(25, 27, 35, 1);
}

.main__indian-league_content_text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-area: indian-buttons;
}
.main__indian-league_content_sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.main__indian-league_content_slider-first,
.main__indian-league_content_slider-second {
  width: 64px;
  height: 8px;
  border-radius: 3.5px;
  background-color: rgba(198, 198, 208, 1);
}
.indian-slider-active {
  width: 106px;
  background-color: rgba(255, 125, 52, 1);
}
.main__indian-league_content_text-button button {
  border: none;
  background-color: inherit;
}
.main__indian-league_items {
  display: flex;
  overflow-x: hidden;
  gap: 40px;
  grid-area: indian-text;
  scroll-behavior: smooth;
}
.main__indian-league_content {
  min-width: 100%;
}
.main__betting-app_content {
  padding: 0 8px 0 8px;
}
.main__betting-app_phone {
  grid-area: phone;
}

.main__betting-app_content {
  grid-area: app-content;
}
.main__betting-app_content_apps_google-play,
.main__betting-app_content_apps_google-play img {
  width: 172.99px;
  height: 64px;
}
.main__betting-app_content_apps_app-store,
.main__betting-app_content_apps_app-store img {
  width: 170.62px;
  height: 61.13px;
}

.main__betting-app_content_apps {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__live-betting_buttons,
.main__reviews_buttons {
  align-items: center;
  justify-content: center;
  display: none;
}
.main__live-betting_content_main-title {
  min-height: 76px;
}
.main__live-betting_content_first-team,
.main__live-betting_content_second-team {
  display: flex;
  gap: 20px;
}
.main__live-betting_content {
  padding: 40px 32px 40px 32px;
  background-color: rgba(243, 244, 245, 1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 366px;
}
.main__live-betting_content_items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__live-betting_content_versus {
  position: relative;
  top: 0;
  left: 2%;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 24px;
  line-height: 29.05px;
  color: rgba(255, 125, 52, 1);
}
.main__live-betting_items {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.main__bonuses {
  background-color: rgba(18, 14, 11, 1);
  padding: 48px 24px 48px 24px;
  border-radius: 32px;
  text-align: center;
}
.main__bonus {
  padding: 0px 0px 48px 0px;
}
.main__bonus_title h2,
.main__information_title h2 {
  color: white;
}
.main__bonuses_items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__bonuses_item {
  background-color: rgba(22, 20, 18, 1);
  border-radius: 24px;
  padding: 36px 12px 36px 12px;
}
.main__reasons .container,
.main__faq .container,
.main__how-use .container {
  background-color: rgba(243, 244, 245, 1);
  border-radius: 32px;
  padding: 48px 24px 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__reasons_item,
.main__faq_item,
.main__how-use_item {
  background-color: rgba(252, 253, 254, 1);
  border-radius: 24px;
  padding: 32px 24px 32px 24px;
}
.main__reasons_title,
.main__faq_title,
.main__how-use_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__how-download_title h2 {
  line-height: 41.6px;
  font-weight: 700;
  font-size: 32px;
}
.main__how-download_title h3 {
  line-height: 31.2px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}
.main__reasons_title h4,
.main__faq_title h4,
.main__how-use_title h4 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.main__reasons_title button,
.main__faq_title button,
.main__how-use_title button {
  border: none;
  background-color: inherit;
}
.main__reviewers {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.main__reviewer {
  min-width: 320px;
  background-color: rgba(243, 244, 245, 1);
  border-radius: 24px;
  padding: 24px;
  display: grid;
  grid-template-areas:
    'reviewer-avatar reviewer-name-grade'
    'reviewer-text reviewer-text';
  grid-template-columns: 78px 1fr;
  column-gap: 16px;
  row-gap: 24px;
}
.main__reviewer_avatar {
  grid-area: reviewer-avatar;
  width: 78px;
  height: 92px;
}
.main__reviewer_avatar img {
  width: 78px;
  height: 92px;
}
.main__reviewer_name-grade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  grid-area: reviewer-name-grade;
}
.main__reviewer_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(25, 27, 35, 1);
}
.main__reviewer_text {
  grid-area: reviewer-text;
}
.main__download_items {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 24px;
  width: 100%;
}
.main__download_items div:first-child,
.main__download_items div:last-child {
  display: flex;
  gap: 20px;
}

.main__download_item {
  background-color: rgba(243, 244, 245, 1);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-width: 319px;
}
.main__information {
  background-color: rgba(18, 14, 11, 1);
  border-radius: 32px;
  padding: 48px 24px 48px 24px;
}
.main__information_content {
  background-color: rgba(26, 25, 25, 1);
  padding: 12px;
  border-radius: 32px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.main__information_items {
  width: 100%;
  min-height: 77px;
  background-color: rgba(18, 14, 11, 1);
  border-radius: 32px;
  padding: 24px;
  display: flex;
  align-items: center;
}
.main__information_item {
  width: 100%;
  display: flex;
  gap: 40px;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.main__information_item div {
  font-family: Poppins;
  font-weight: 600;
  line-height: 19.2px;
  color: rgba(252, 253, 254, 1);
}
.main__how-download {
  padding: 48px 24px 48px 24px;
  border-radius: 32px;
  background-color: rgba(243, 244, 245, 1);
}
.main__how-download_items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__how-download_item_img {
  grid-area: img;
}
.main__how-download_item-content {
  grid-area: item-content;
}
.main__how-download_item-content {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.main__how-download_item_img {
  display: flex;
  align-items: center;
}
.main__how-download_item {
  padding: 24px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 1);
}
.main__faq_main-title h2 {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  line-height: 67.6px;
}
.footer,
.main__faq_text p {
  font-family: 'Inter', sans-serif;
}
.footer {
  background-color: rgba(26, 25, 25, 1);
  height: 134px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__social_items {
  display: flex;
  gap: 8px;
}
.footer__social_text {
  font-weight: 500;
  line-height: 21.76px;
  color: rgba(117, 118, 127, 1);
}
.footer__variable_items {
  width: 516px;
  display: none;
  flex-wrap: wrap;
  gap: 39px;
}
.footer__variable_items a {
  color: rgba(117, 118, 127, 1);
}
.main__mobile-app {
  display: none;
  background-color: rgba(243, 244, 245, 1);
  border-radius: 32px;
  padding: 52px 0 52px 0;
}
.main__mobile-app .container {
  display: flex;
  gap: 80px;
}
.main__mobile-app_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.main__mobile-app_title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 67.6px;
  color: rgba(25, 27, 35, 1);
}
.main__mobile-app_content ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__mobile-app_content li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__bonuses_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(252, 253, 254, 1);
  padding: 0px 0px 8px 0px;
}
.main__how-use,
.main__indian-league_slider-desktop {
  display: none;
}
@media (min-width: 431px) {
  .container {
    max-width: 767px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 991px;
  }
  .main__live-betting_items {
    overflow: hidden;
  }

  .main__live-betting_buttons {
    display: flex;
  }
  .main__information_item {
    width: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__information_item :last-child {
    display: flex;
    justify-content: end;
  }
  .main__faq_main-title {
    display: flex;
    justify-content: center;
  }
  .main__live-betting_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__live-betting_buttons button {
    border: none;
    background-color: inherit;
  }
  .header__description_button a,
  .main__reasons_button a,
  .main__how-download_button a,
  .main__mobile-app_button,
  .main__how-use_button button,
  .main__reasons_button button,
  .main__how-download_button button,
  .main__how-use_button a {
    width: 256px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 1199px;
  }
  .header__description {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .main__indian-league .container {
    display: grid;
    grid-template-areas:
      'indian-phone indian-text'
      'indian-phone indian-buttons';
    column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
  .main__indian-league_phone {
    justify-content: center;
  }
  .main__indian-league_phone,
  .main__indian-league_content {
    display: flex;
    flex-direction: column;
  }

  .main__betting-app .container {
    display: grid;
    grid-template-areas: 'app-content phone';
    grid-template-columns: 1fr 1fr;
  }
  .main__betting-app_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 40px 0 0;
  }
  .main__betting-app_content_apps_google-play,
  .main__betting-app_content_apps_google-play img {
    width: 215.99px;
    height: 64px;
  }
  .main__betting-app_content_apps_app-store,
  .main__betting-app_content_apps_app-store img {
    width: 213.03px;
    height: 61.13px;
  }
  .main__betting-app_phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__how-download_item {
    display: grid;
    gap: 20px;
    grid-template-areas: 'img item-content';
    grid-template-columns: 1fr 1fr;
  }
  .main__how-download_item-second {
    display: grid;
    grid-template-areas: 'item-content img';
    grid-template-columns: 1fr 1fr;
  }
  .main__how-download_item-content {
    padding: 10px 10px 10px 10px;
  }
  .header__content {
    display: grid;
    grid-template-areas:
      'description stonks stonks'
      'subscribers stonks stonks';
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1338px;
  }
  .header__content {
    grid-template-areas:
      'description stonks'
      'subscribers stonks';
    grid-template-columns: 1fr 1fr;
  }

  .header__burger-menu {
    display: none;
  }
  .header__stonks img {
    height: 100%;
  }
  .header__nav {
    display: flex;
    gap: 25px;
  }
  .main__mobile-app,
  .main__how-use {
    display: block;
  }
  .main__reviewer-desktop {
    display: grid;
  }

  .header__description_title h1 {
    padding: 0;
    width: 100%;
    font-weight: 700;
    font-size: 64px;
  }
  .header__subscribers,
  .footer__variable_items,
  .main__reviews_buttons,
  .header__button {
    display: flex;
  }

  .main__live-betting_title h2,
  .main__reviews_title h2 {
    width: 80%;
  }
  .main__live-betting_content {
    min-width: 520px;
  }
  /* .main__indian-league_content {
    padding: 50px;
  } */
  .main__live-betting_content_items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main__live-betting_content_versus {
    top: 0;
    left: -2%;
  }

  .main__reviews_buttons button {
    border: none;
    background-color: inherit;
  }
  .main__live-betting_content {
    max-width: 520px;
  }
  .main__reviews_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main__bonus_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__bonuses_items {
    display: flex;
    flex-direction: row;
  }

  .main__reasons .container {
    display: flex;
    justify-content: center;
  }
  .main__reasons_main-title h2,
  .main__how-use_main-title h2 {
    width: 100%;
    text-align: center;
  }
  .main__reasons_button,
  .main__how-use_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__information_title h2 {
    width: 100%;
  }
  .main__information_content {
    padding: 64px 52px 64px 52px;
  }
  .main__how-download_item {
    gap: 80px;
  }
  .main__how-download_item-content {
    padding: 0;
  }

  .main__reviewer {
    min-width: 880px;
    padding: 12px 32px 12px 12px;
    column-gap: 32px;
    grid-template-areas:
      'reviewer-avatar reviewer-name-grade'
      'reviewer-avatar reviewer-text';
    grid-template-columns: 270px 432px;
  }
  .main__reviewer_name-grade {
    justify-content: end;
  }
  .main__reviewer_avatar,
  .main__reviewer_avatar img {
    width: 272px;
    height: 320px;
  }
  .main__reviewer_name {
    display: flex;
    align-items: end;
  }
  .main__reviewers {
    overflow-x: hidden;
  }
  .main__how-download_title h3 {
    font-size: 36px;
    line-height: 46.8px;
  }
  .main__indian-league_content_text-button {
    justify-content: space-between;
  }
  .main__indian-league_slider {
    display: none;
  }
  .main__indian-league_slider-desktop {
    display: block;
  }
  .main__how-download_item_img {
    align-items: normal;
  }
  .main__indian-league_content_slider-first,
  .main__indian-league_content_slider-second {
    width: 97px;
  }
  .indian-slider-active {
    width: 334px;
  }
  .main__indian-league_content_title h2,
  .main__betting-app_content_title h2,
  .main__live-betting_title h2,
  .main__reasons_main-title h2,
  .main__reviews_title h2,
  .main__download_title h2,
  .main__bonus_title h2,
  .main__information_title h2,
  .main__how-download_main-title h2,
  .main__faq_main-title h2,
  .main__how-use_main-title h2 {
    font-size: 52px;
    line-height: 67.6px;
  }
}
